---
const { t, lang: locale } = Astro.locals;
---
<ul>
  <li>
    <a href={`/${locale}/`}>
      {t('nav.home')}
    </a>
  </li>
  <li>
    <a href={`/${locale}/about/`}>
      {t('nav.about')}
    </a>
  </li>
  <li>
    <a href="https://twitter.com/astrodotbuild">
      {t('nav.twitter')}
    </a>
  </li>
</ul>
